<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/contact/">Contact</a></li>
    <li><a href="https://andy.azureedge.net/docs/andy-mehalick-20191120.pdf">CV</a></li>
</ul>
<a id="rss" href="https://feeds.feedburner.com/AndyMehalick" title="Subscribe to RSS">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" style="width: 24px; height: 24px;">
        <style>
            .st0 {
                fill: #F78C28;
            }

            .st1 {
                fill: #FFFFFF;
            }
        </style>
        <path class="st0" d="M0 0h28v28H0z" />
        <g>
            <path class="st1"
                d="M18.2 9.8C14.4 6 9.4 3.9 4 3.9v4c4.3 0 8.4 1.7 11.4 4.7s4.7 7.1 4.7 11.4h4c0-5.4-2.1-10.4-5.9-14.2z" />
            <path class="st1" d="M3.9 10.6v4c5.2 0 9.5 4.2 9.5 9.5h4c0-7.5-6.1-13.5-13.5-13.5z" />
            <circle class="st1" cx="6.7" cy="21.3" r="2.8" />
        </g>
    </svg>
</a>